<header>
    <nav>
        <a href="/">Biblioteca</a>
        <ul>
            <li><a href="/autores">Autores</a></li>
            <li><a href="/autores/novo">Adicionar Autor</a></li>
        </ul>
    </nav>
</header>